@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    font-family: "Outfit";
}

h1, h2, h3, h4 {
    font-family: "Crimson Pro";
}

h5, h6 {
    font-family: "Outfit";
}

span {
    font-family: "Crimson Pro";
}

p {
    font-family: "Outfit";
}


.outfit {
    font-family: "outfit";
}

.crimson {
    font-family: "crimson-pro";
}
